# Fichiers Python inutiles
__pycache__/
*.pyc
*.pyo
*.pyd

# Bases de données locales ou temporaires
*.db

# Fichiers sensibles
.env
.git
.gitignore

# Données volumineuses (ex : dataset CSV)
medical_data.csv

# Dossiers générés par Docker
data/db/
data/init/*.bak