# Python cache
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# fichiers temporaires Word
~$*.docx

# fichier systeme
.DS_Store
thumbs.db
desktop.ini

venv/
.venv/
.env
.env.docker
output/
checkpoint/

connector-config.json

Projet 13/data/pipeline/*.json