faiss-cpu==1.13.2
langchain==1.2.18
langchain-community==0.4.1
langchain-mistralai==1.1.4
langchain-text-splitters==1.1.2
mistralai==2.4.5
pandas==3.0.2
pytest==9.0.3
python-dotenv==1.2.2
requests==2.33.1
streamlit==1.57.0
streamlit-js-eval==1.0.0
tiktoken==0.13.0
psycopg2-binary==2.9.12
bcrypt==5.0.0
fastapi==0.141.1
uvicorn==0.52.0
pyjwt==2.13.0
email-validator==2.3.0
qdrant-client==1.19.0
smolagents==1.26.0
litellm==1.95.0